@extends('layouts/master')

@section('title', 'Contact')

@section('content')
<h2>Hubungi Kami</h2>
<form method="POST" action="/contact/send">
  Nama: <input type="text" name="name"><br>
  Email: <input type="email" name="email"><br>
  Pesan: <textarea name="message"></textarea><br>
  <button type="submit">Kirim</button>
</form>
@endsection
